/* ------- PROFILE ------- */

/* --- III. Age --- */

.bar-set ul li.age-60 {
  width: 0.5%;
}

.bar-set ul li.age-60 span {
  left: 0.5%;
}

.bar-set ul li.age-50 {
  width: 1.9%;
}

.bar-set ul li.age-50 span {
  left: 1.9%;
}

.bar-set ul li.age-40 {
  width: 7.6%;
}

.bar-set ul li.age-40 span {
  left: 7.6%;
}

.bar-set ul li.age-35 {
  width: 9.1%;
}

.bar-set ul li.age-35 span {
  left: 9.1%;
}

.bar-set ul li.age-30{
  width: 17.8%;
}

.bar-set ul li.age-30 span {
  left: 17.8%;
}

.bar-set ul li.age-25{
  width: 28.5%;
}

.bar-set ul li.age-25 span {
  left: 28.5%;
}

.bar-set ul li.age-20 {
  width: 24.5%;
}

.bar-set ul li.age-20 span {
  left: 24.5%;
}

.bar-set ul li.age-lessthan20 {
  width: 8.8%;
}

.bar-set ul li.age-lessthan20 span {
  left: 8.8%;
}





/* --- V. Gender --- */

.bar-set ul li.gender-male {
  width: 92.1%;
}

.bar-set ul li.gender-male span {
  left: 92.1%;
}

.bar-set ul li.gender-female {
  width: 5.8%;
}

.bar-set ul li.gender-female span {
  left: 5.8%;
}

.bar-set ul li.gender-nodisclose {
  width: 1.7%;
}

.bar-set ul li.gender-nodisclose span {
  left: 1.7%;
}

.bar-set ul li.gender-other {
  width: 0.5%;
}

.bar-set ul li.gender-other span {
  left: 0.5%;
}

/* --- VI. Women in Technical Fields --- */

/* Women */

.bar-set.genderexp-women ul li.genderexp-11plus {
  width: 9.5%;
}

.bar-set.genderexp-women ul li.genderexp-11plus span {
  left: 9.5%;
}

.bar-set.genderexp-women ul li.genderexp-6-10 {
  width: 15.1%;
}

.bar-set.genderexp-women ul li.genderexp-6-10 span {
  left: 15.1%;
}

.bar-set.genderexp-women ul li.genderexp-2-5 {
  width: 30.1%;
}

.bar-set.genderexp-women ul li.genderexp-2-5 span {
  left: 30.1%;
}

.bar-set.genderexp-women ul li.genderexp-lessthan2 {
  width: 37.1%;
}

.bar-set.genderexp-women ul li.genderexp-lessthan2 span {
  left: 37.1%;
}

/* Men */

.bar-set.genderexp-men ul li.genderexp-11plus {
  width: 23.8%;
}

.bar-set.genderexp-men ul li.genderexp-11plus span {
  left: 23.8%;
}

.bar-set.genderexp-men ul li.genderexp-6-10 {
  width: 23%;
}

.bar-set.genderexp-men ul li.genderexp-6-10 span {
  left: 23%;
}

.bar-set.genderexp-men ul li.genderexp-2-5 {
  width: 31.2%;
}

.bar-set.genderexp-men ul li.genderexp-2-5 span {
  left: 31.2%;
}

.bar-set.genderexp-men ul li.genderexp-lessthan2 {
  width: 18.2%;
}

.bar-set.genderexp-men ul li.genderexp-lessthan2 span {
  left: 18.2%;
}

/* Infobox: Women in Technical Fields by Geography */

.bar-set ul li.info-women-india {
  width: 15.1%;
}

.bar-set ul li.info-women-india span {
  left: 15.1%;
}

.bar-set ul li.info-women-us {
  width: 4.8%;
}

.bar-set ul li.info-women-us span {
  left: 4.8%;
}

.bar-set ul li.info-women-sweden {
  width: 2.3%;
}

.bar-set ul li.info-women-sweden span {
  left: 2.3%;
}


/* --- VII. Education --- */

.bar-set ul li.education-none {
  width: 41.8%;
}

.bar-set ul li.education-none span {
  left: 41.8%;
}

.bar-set ul li.education-bs {
  width: 37.7%;
}

.bar-set ul li.education-bs span {
  left: 37.7%;
}

.bar-set ul li.education-onthejob {
  width: 36.7%;
}

.bar-set ul li.education-onthejob span {
  left: 36.7%;
}

.bar-set ul li.education-ms {
  width: 18.4%;
}

.bar-set ul li.education-ms span {
  left: 18.4%;
}

.bar-set ul li.education-online {
  width: 17.8%;
}

.bar-set ul li.education-online span {
  left: 17.8%;
}

.bar-set ul li.education-somecollege {
  width: 16.7%;
}

.bar-set ul li.education-somecollege span {
  left: 16.7%;
}

.bar-set ul li.education-certification {
  width: 6.1%;
}

.bar-set ul li.education-certification span {
  left: 6.1%;
}

.bar-set ul li.education-bootcamp {
  width: 3.5%;
}

.bar-set ul li.education-bootcamp span {
  left: 3.5%;
}

.bar-set ul li.education-phd {
  width: 2.2%;
}

.bar-set ul li.education-phd span {
  left: 2.2%;
}

.bar-set ul li.education-mentorship {
  width: 1.0%;
}

.bar-set ul li.education-mentorship span {
  left: 1.0%;
}


/* --- VIII. Experience  --- */

.bar-set ul li.exp-11plus {
  width: 24.2%;
}

.bar-set ul li.exp-11plus span {
  left: 24.2%;
}

.bar-set ul li.exp-6-10 {
  width: 23.2%;
}

.bar-set ul li.exp-6-10 span {
  left: 23.2%;
}

.bar-set ul li.exp-2-5 {
  width: 32.4%;
}

.bar-set ul li.exp-2-5 span {
  left: 32.4%;
}

.bar-set ul li.exp-1-2 {
  width: 13.6%;
}

.bar-set ul li.exp-1-2 span {
  left: 13.6%;
}

.bar-set ul li.exp-lessthan1 {
  width: 6.6%;
}

.bar-set ul li.exp-lessthan1 span {
  left: 6.6%;
}

/* --- IX. Side Projects and Open Source --- */

.bar-set ul li.sideprojects-20plus {
  width: 9.5%;
}

.bar-set ul li.sideprojects-20plus span {
  left: 9.5%;
}

.bar-set ul li.sideprojects-10-20 {
  width: 12.4%;
}

.bar-set ul li.sideprojects-10-20 span {
  left: 12.4%;
}

.bar-set ul li.sideprojects-5-10 {
  width: 23.2%;
}

.bar-set ul li.sideprojects-5-10 span {
  left: 23.2%;
}

.bar-set ul li.sideprojects-2-5 {
  width: 27.3%;
}

.bar-set ul li.sideprojects-2-5 span {
  left: 27.3%;
}

.bar-set ul li.sideprojects-1-2 {
  width: 19.2%;
}

.bar-set ul li.sideprojects-1-2 span {
  left: 19.2%;
}

.bar-set ul li.sideprojects-none {
  width: 8.3%;
}

.bar-set ul li.sideprojects-none span {
  left: 8.3%;
}


/* ------- TECHNOLOGY ------- */

/* --- I. Programming Languages --- */

/* 2015 */

.bar-set.lang-2015 ul li.lang-javascript {
  width: 54.4%;
}

.bar-set.lang-2015 ul li.lang-javascript span {
  left: 54.4%;
}

.bar-set.lang-2015 ul li.lang-sql {
  width: 48.0%;
}

.bar-set.lang-2015 ul li.lang-sql span {
  left: 48.0%;
}

.bar-set.lang-2015 ul li.lang-java {
  width: 37.4%;
}

.bar-set.lang-2015 ul li.lang-java span {
  left: 37.4%;
}

.bar-set.lang-2015 ul li.lang-csharp {
  width: 31.6%;
}

.bar-set.lang-2015 ul li.lang-csharp span {
  left: 31.6%;
}

.bar-set.lang-2015 ul li.lang-php {
  width: 29.7%;
}

.bar-set.lang-2015 ul li.lang-php span {
  left: 29.7%;
}

.bar-set.lang-2015 ul li.lang-python {
  width: 23.8%;
}

.bar-set.lang-2015 ul li.lang-python span {
  left: 23.8%;
}

.bar-set.lang-2015 ul li.lang-cplusplus {
  width: 20.6%;
}

.bar-set.lang-2015 ul li.lang-cplusplus span {
  left: 20.6%;
}

.bar-set.lang-2015 ul li.lang-c {
  width: 16.4%;
}

.bar-set.lang-2015 ul li.lang-c span {
  left: 16.4%;
}

.bar-set.lang-2015 ul li.lang-nodejs {
  width: 13.3%;
}

.bar-set.lang-2015 ul li.lang-nodejs span {
  left: 13.3%;
}

.bar-set.lang-2015 ul li.lang-angularjs {
  width: 13.3%;
}

.bar-set.lang-2015 ul li.lang-angularjs span {
  left: 13.3%;
}

.bar-set.lang-2015 ul li.lang-ruby {
  width: 8.0%;
}

.bar-set.lang-2015 ul li.lang-ruby span {
  left: 8.0%;
}

.bar-set.lang-2015 ul li.lang-objectivec {
  width: 7.8%;
}

.bar-set.lang-2015 ul li.lang-objectivec span {
  left: 7.8%;
}

/* 2014 */

.bar-set.lang-2014 ul li.lang-javascript {
  width: 58.9%;
}

.bar-set.lang-2014 ul li.lang-javascript span {
  left: 58.9%;
}

.bar-set.lang-2014 ul li.lang-sql {
  width: 57.1%;
}

.bar-set.lang-2014 ul li.lang-sql span {
  left: 57.1%;
}

.bar-set.lang-2014 ul li.lang-java {
  width: 37.6%;
}

.bar-set.lang-2014 ul li.lang-java span {
  left: 37.6%;
}

.bar-set.lang-2014 ul li.lang-csharp {
  width: 37.6%;
}

.bar-set.lang-2014 ul li.lang-csharp span {
  left: 37.6%;
}

.bar-set.lang-2014 ul li.lang-php {
  width: 28.9%;
}

.bar-set.lang-2014 ul li.lang-php span {
  left: 28.9%;
}

.bar-set.lang-2014 ul li.lang-python {
  width: 23.4%;
}

.bar-set.lang-2014 ul li.lang-python span {
  left: 23.4%;
}

.bar-set.lang-2014 ul li.lang-cplusplus {
  width: 21.1%;
}

.bar-set.lang-2014 ul li.lang-cplusplus span {
  left: 21.1%;
}

.bar-set.lang-2014 ul li.lang-c {
  width: 17.9%;
}

.bar-set.lang-2014 ul li.lang-c span {
  left: 17.9%;
}

.bar-set.lang-2014 ul li.lang-nodejs {
  width: 9.8%;
}

.bar-set.lang-2014 ul li.lang-nodejs span {
  left: 9.8%;
}

.bar-set.lang-2014 ul li.lang-angularjs {
  width: 0%;
}

.bar-set.lang-2014 ul li.lang-angularjs span {
  left: 0%;
}

.bar-set.lang-2014 ul li.lang-ruby {
  width: 9.9%;
}

.bar-set.lang-2014 ul li.lang-ruby span {
  left: 9.9%;
}

.bar-set.lang-2014 ul li.lang-objectivec {
  width: 11.9%;
}

.bar-set.lang-2014 ul li.lang-objectivec span {
  left: 11.9%;
}


/* 2013 */

.bar-set.lang-2013 ul li.lang-javascript {
  width: 56.6%;
}

.bar-set.lang-2013 ul li.lang-javascript span {
  left: 56.6%;
}

.bar-set.lang-2013 ul li.lang-sql {
  width: 59.6%;
}

.bar-set.lang-2013 ul li.lang-sql span {
  left: 59.6%;
}

.bar-set.lang-2013 ul li.lang-java {
  width: 42.5%;
}

.bar-set.lang-2013 ul li.lang-java span {
  left: 42.5%;
}

.bar-set.lang-2013 ul li.lang-csharp {
  width: 44.7%;
}

.bar-set.lang-2013 ul li.lang-csharp span {
  left: 44.7%;
}

.bar-set.lang-2013 ul li.lang-php {
  width: 34.8%;
}

.bar-set.lang-2013 ul li.lang-php span {
  left: 34.8%;
}

.bar-set.lang-2013 ul li.lang-python {
  width: 21.9%;
}

.bar-set.lang-2013 ul li.lang-python span {
  left: 21.9%;
}

.bar-set.lang-2013 ul li.lang-cplusplus {
  width: 27.6%;
}

.bar-set.lang-2013 ul li.lang-cplusplus span {
  left: 27.6%;
}

.bar-set.lang-2013 ul li.lang-c {
  width: 26.9%;
}

.bar-set.lang-2013 ul li.lang-c span {
  left: 26.9%;
}

.bar-set.lang-2013 ul li.lang-nodejs {
  width: 7.5%;
}

.bar-set.lang-2013 ul li.lang-nodejs span {
  left: 7.5%;
}

.bar-set.lang-2013 ul li.lang-angularjs {
  width: 0%;
}

.bar-set.lang-2013 ul li.lang-angularjs span {
  left: 0%;
}

.bar-set.lang-2013 ul li.lang-ruby {
  width: 10.4%;
}

.bar-set.lang-2013 ul li.lang-ruby span {
  left: 10.4%;
}

.bar-set.lang-2013 ul li.lang-objectivec {
  width: 11.0%;
}

.bar-set.lang-2013 ul li.lang-objectivec span {
  left: 11.0%;
}


/* --- II. Superlatives --- */

/* Most Satisfying */

.bar-set.super-loved ul li.super-swift {
  width: 77.6%;
}

.bar-set.super-loved ul li.super-swift span {
  left: 77.6%;
}

.bar-set.super-loved ul li.super-cplusplus11 {
  width: 75.6%;
}

.bar-set.super-loved ul li.super-cplusplus11 span {
  left: 75.6%;
}

.bar-set.super-loved ul li.super-rust {
  width: 73.8%;
}

.bar-set.super-loved ul li.super-rust span {
  left: 73.8%;
}

.bar-set.super-loved ul li.super-go {
  width: 72.5%;
}

.bar-set.super-loved ul li.super-go span {
  left: 72.5%;
}

.bar-set.super-loved ul li.super-clojure {
  width: 71.0%;
}

.bar-set.super-loved ul li.super-clojure span {
  left: 71.0%;
}

.bar-set.super-loved ul li.super-scala {
  width: 70.6%;
}

.bar-set.super-loved ul li.super-scala span {
  left: 70.6%;
}

.bar-set.super-loved ul li.super-fsharp {
  width: 70.1%;
}

.bar-set.super-loved ul li.super-fsharp span {
  left: 70.1%;
}

.bar-set.super-loved ul li.super-haskell {
  width: 69.5%;
}

.bar-set.super-loved ul li.super-haskell span {
  left: 69.5%;
}

.bar-set.super-loved ul li.super-csharp {
  width: 67.2%;
}

.bar-set.super-loved ul li.super-csharp span {
  left: 67.2%;
}

.bar-set.super-loved ul li.super-python {
  width: 66.6%;
}

.bar-set.super-loved ul li.super-python span {
  left: 66.6%;
}

/* Most Hated */

.bar-set.super-hated ul li.super-salesforce {
  width: 73.2%;
}

.bar-set.super-hated ul li.super-salesforce span {
  left: 73.2%;
}

.bar-set.super-hated ul li.super-basic {
  width: 72.0%;
}

.bar-set.super-hated ul li.super-basic span {
  left: 72.0%;
}

.bar-set.super-hated ul li.super-wordpress {
  width: 68.2%;
}

.bar-set.super-hated ul li.super-wordpress span {
  left: 68.2%;
}

.bar-set.super-hated ul li.super-matlab {
  width: 65.6%;
}

.bar-set.super-hated ul li.super-matlab span {
  left: 65.6%;
}

.bar-set.super-hated ul li.super-sharepoint {
  width: 62.8%;
}

.bar-set.super-hated ul li.super-sharepoint span {
  left: 62.8%;
}

.bar-set.super-hated ul li.super-lamp {
  width: 62.2%;
}

.bar-set.super-hated ul li.super-lamp span {
  left: 62.2%;
}

.bar-set.super-hated ul li.super-perl {
  width: 59.2%;
}

.bar-set.super-hated ul li.super-perl span {
  left: 59.2%;
}

.bar-set.super-hated ul li.super-cordova {
  width: 58.8%;
}

.bar-set.super-hated ul li.super-cordova span {
  left: 58.8%;
}

.bar-set.super-hated ul li.super-coffeescript {
  width: 54.7%;
}

.bar-set.super-hated ul li.super-coffeescript span {
  left: 54.7%;
}

.bar-set.super-hated ul li.super-other {
  width: 57.3%;
}

.bar-set.super-hated ul li.super-other span {
  left: 57.3%;
}

/* Most Wanted */

.bar-set.super-wanted ul li.super-android {
  width: 17.7%%;
}

.bar-set.super-wanted ul li.super-android span {
  left: 17.7%%;
}

.bar-set.super-wanted ul li.super-javascript {
  width: 15.4%%;
}

.bar-set.super-wanted ul li.super-javascript span {
  left: 15.4%;
}

.bar-set.super-wanted ul li.super-python {
  width: 14.8%;
}

.bar-set.super-wanted ul li.super-python span {
  left: 14.8%;
}

.bar-set.super-wanted ul li.super-nodejs {
  width: 14.6%;
}

.bar-set.super-wanted ul li.super-nodejs span {
  left: 14.6%;
}

.bar-set.super-wanted ul li.super-angularjs {
  width: 13.2%;
}

.bar-set.super-wanted ul li.super-angularjs span {
  left: 13.2%;
}

.bar-set.super-wanted ul li.super-java {
  width: 10.5%;
}

.bar-set.super-wanted ul li.super-java span {
  left: 10.5%;
}

.bar-set.super-wanted ul li.super-ios {
  width: 9.4%;
}

.bar-set.super-wanted ul li.super-ios span {
  left: 9.4%;
}

.bar-set.super-wanted ul li.super-arduino {
  width: 8.5%;
}

.bar-set.super-wanted ul li.super-arduino span {
  left: 8.5%;
}

.bar-set.super-wanted ul li.super-swift {
  width: 8.5%;
}

.bar-set.super-wanted ul li.super-swift span {
  left: 8.5%;
}

.bar-set.super-wanted ul li.super-csharp {
  width: 8.0%;
}

.bar-set.super-wanted ul li.super-csharp span {
  left: 8.0%;
}

/* --- III. Operating System --- */

/* 2015 */

.bar-set.os-2015 ul li.os-windows7 {
  width: 33.8%;
}

.bar-set.os-2015 ul li.os-windows7 span {
  left: 33.8%;
}

.bar-set.os-2015 ul li.os-osx {
  width: 21.5%;
}

.bar-set.os-2015 ul li.os-osx span {
  left: 21.5%;
}

.bar-set.os-2015 ul li.os-linux {
  width: 20.5%;
}

.bar-set.os-2015 ul li.os-linux span {
  left: 20.5%;
}

.bar-set.os-2015 ul li.os-windows8 {
  width: 19.5%;
}

.bar-set.os-2015 ul li.os-windows8 span {
  left: 19.5%;
}

.bar-set.os-2015 ul li.os-windowsxp {
  width: 1.0%;
}

.bar-set.os-2015 ul li.os-windowsxp span {
  left: 1.0%;
}

.bar-set.os-2015 ul li.os-windowsvista {
  width: 0.4%;
}

.bar-set.os-2015 ul li.os-windowsvista span {
  left: 0.4%;
}

.bar-set.os-2015 ul li.os-other {
  width: 3.5%;
}

.bar-set.os-2015 ul li.os-other span {
  left: 3.5%;
}

/* 2014 */

.bar-set.os-2014 ul li.os-windows7 {
  width: 45.6%;
}

.bar-set.os-2014 ul li.os-windows7 span {
  left: 45.6%;
}

.bar-set.os-2014 ul li.os-osx {
  width: 20.3%;
}

.bar-set.os-2014 ul li.os-osx span {
  left: 20.3%;
}

.bar-set.os-2014 ul li.os-linux {
  width: 20.9%;
}

.bar-set.os-2014 ul li.os-linux span {
  left: 20.9%;
}

.bar-set.os-2014 ul li.os-windows8 {
  width: 6.4%;
}

.bar-set.os-2014 ul li.os-windows8 span {
  left: 6.4%;
}

.bar-set.os-2014 ul li.os-windowsxp {
  width: 5.9%;
}

.bar-set.os-2014 ul li.os-windowsxp span {
  left: 5.9%;
}

.bar-set.os-2014 ul li.os-windowsvista {
  width: 0%;
}

.bar-set.os-2014 ul li.os-windowsvista span {
  left: 0%;
}

.bar-set.os-2014 ul li.os-other {
  width: 0.5%;
}

.bar-set.os-2014 ul li.os-other span {
  left: 0.5%;
}

/* 2013 */

.bar-set.os-2013 ul li.os-windows7 {
  width: 48.0%;
}

.bar-set.os-2013 ul li.os-windows7 span {
  left: 48.0%;
}

.bar-set.os-2013 ul li.os-osx {
  width: 18.7%;
}

.bar-set.os-2013 ul li.os-osx span {
  left: 18.7%;
}

.bar-set.os-2013 ul li.os-linux {
  width: 19.9%;
}

.bar-set.os-2013 ul li.os-linux span {
  left: 19.9%;
}

.bar-set.os-2013 ul li.os-windows8 {
  width: 0%;
}

.bar-set.os-2013 ul li.os-windows8 span {
  left: 0%;
}

.bar-set.os-2013 ul li.os-windowsxp {
  width: 10.8%;
}

.bar-set.os-2013 ul li.os-windowsxp span {
  left: 10.8%;
}

.bar-set.os-2013 ul li.os-windowsvista {
  width: 1.6%;
}

.bar-set.os-2013 ul li.os-windowsvista span {
  left: 1.6%;
}

.bar-set.os-2013 ul li.os-other {
  width: 1.0%;
}

.bar-set.os-2013 ul li.os-other span {
  left: 1.0%;
}

/* Infobox - Linuxes */

.bar-set ul li.info-os-ubuntu {
  width: 12.0%;
}

.bar-set ul li.info-os-ubuntu span {
  left: 12.0%;
}

.bar-set ul li.info-os-debian {
  width: 2.2%;
}

.bar-set ul li.info-os-debian span {
  left: 2.2%;
}

.bar-set ul li.info-os-mint {
  width: 1.6%;
}

.bar-set ul li.info-os-mint span {
  left: 1.6%;
}

.bar-set ul li.info-os-fedora {
  width: 1.3%;
}

.bar-set ul li.info-os-fedora span {
  left: 1.3%;
}

.bar-set ul li.info-os-other {
  width: 4.0%;
}

.bar-set ul li.info-os-other span {
  left: 4.0%;
}


/* --- IV. Text Editor --- */

.bar-set ul li.editor-notepad {
  width: 34.7%;
}

.bar-set ul li.editor-notepad span {
  left: 34.7%;
}

.bar-set ul li.editor-sublime {
  width: 25.2%;
}

.bar-set ul li.editor-sublime span {
  left: 25.2%;
}

.bar-set ul li.editor-vim {
  width: 15.2%;
}

.bar-set ul li.editor-vim span {
  left: 15.2%;
}

.bar-set ul li.editor-emacs {
  width: 3.8%;
}

.bar-set ul li.editor-emacs span {
  left: 3.8%;
}

.bar-set ul li.editor-atomio {
  width: 2.8%;
}

.bar-set ul li.editor-atomio span {
  left: 2.8%;
}

.bar-set ul li.editor-textmate {
  width: 1.4%;
}

.bar-set ul li.editor-textmate span {
  left: 1.4%;
}

.bar-set ul li.editor-coda {
  width: 0.7%;
}

.bar-set ul li.editor-coda span {
  left: 0.7%;
}

.bar-set ul li.editor-xemacs {
  width: 0.3%;
}

.bar-set ul li.editor-xemacs span {
  left: 0.3%;
}

.bar-set ul li.editor-other {
  width: 16.2%;
}

.bar-set ul li.editor-other span {
  left: 16.2%;
}

/* --- V. IDE Theme --- */

.bar-set ul li.ide-dark {
  width: 52.5%;
}

.bar-set ul li.ide-dark span {
  left: 52.5%;
}

.bar-set ul li.ide-light {
  width: 39.9%;
}

.bar-set ul li.ide-light span {
  left: 39.9%;
}

.bar-set ul li.ide-nousage {
  width: 7.7%;
}

.bar-set ul li.ide-nousage span {
  left: 7.7%;
}

/* --- VI. Source Control --- */

.bar-set ul li.source-git {
  width: 69.3%;
}

.bar-set ul li.source-git span {
  left: 69.3%;
}

.bar-set ul li.source-svn {
  width: 36.9%;
}

.bar-set ul li.source-svn span {
  left: 36.9%;
}

.bar-set ul li.source-tfs {
  width: 12.2%;
}

.bar-set ul li.source-tfs span {
  left: 12.2%;
}

.bar-set ul li.source-mercurial {
  width: 7.9%;
}

.bar-set ul li.source-mercurial span {
  left: 7.9%;
}

.bar-set ul li.source-cvs {
  width: 4.2%;
}

.bar-set ul li.source-cvs span {
  left: 4.2%;
}

.bar-set ul li.source-perforce {
  width: 3.3%;
}

.bar-set ul li.source-perforce span {
  left: 3.3%;
}

.bar-set ul li.source-other {
  width: 5.8%;
}

.bar-set ul li.source-other span {
  left: 5.8%;
}

.bar-set ul li.source-nousage {
  width: 9.3%;
}

.bar-set ul li.source-nousage span {
  left: 9.3%;
}

/* --- VII. Tabs V. Spaces --- */

.bar-set ul li.tabsspaces-tabs {
  width: 45.0%;
}

.bar-set ul li.tabsspaces-tabs span {
  left: 45.0%;
}

.bar-set ul li.tabsspaces-spaces {
  width: 33.6%;
}

.bar-set ul li.tabsspaces-spaces span {
  left: 33.6%;
}

.bar-set ul li.tabsspaces-depends {
  width: 17.0%;
}

.bar-set ul li.tabsspaces-depends span {
  left: 17.0%;
}

.bar-set ul li.tabsspaces-huh {
  width: 4.5%;
}

.bar-set ul li.tabsspaces-huh span {
  left: 4.5%;
}

/* --- VIII. Caffeine --- */

/*.bar-set ul li.tabsspaces-tabs {
  width: 45.0%;
}

.bar-set ul li.tabsspaces-tabs span {
  left: 45.0%;
}*/


/* ------- WORK ------- */

/* --- I. Occupation --- */

/* 2015 */

.bar-set.occupation-2015 ul li.occupation-fullstack {
  width: 32.4%;
}

.bar-set.occupation-2015 ul li.occupation-fullstack span {
  left: 32.4%;
}

.bar-set.occupation-2015 ul li.occupation-student {
  width: 13.6%;
}

.bar-set.occupation-2015 ul li.occupation-student span {
  left: 13.6%;
}

.bar-set.occupation-2015 ul li.occupation-backend {
  width: 10.1%;
}

.bar-set.occupation-2015 ul li.occupation-backend span {
  left: 10.1%;
}

.bar-set.occupation-2015 ul li.occupation-mobile {
  width: 9.1%;
}

.bar-set.occupation-2015 ul li.occupation-mobile span {
  left: 9.1%;
}

.bar-set.occupation-2015 ul li.occupation-desktop {
  width: 8.3%;
}

.bar-set.occupation-2015 ul li.occupation-desktop span {
  left: 8.3%;
}

.bar-set.occupation-2015 ul li.occupation-frontend {
  width: 6.0%;
}

.bar-set.occupation-2015 ul li.occupation-frontend span {
  left: 6.0%;
}

.bar-set.occupation-2015 ul li.occupation-enterprise {
  width: 2.9%;
}

.bar-set.occupation-2015 ul li.occupation-enterprise span {
  left: 2.9%;
}

.bar-set.occupation-2015 ul li.occupation-embedded {
  width: 2.9%;
}

.bar-set.occupation-2015 ul li.occupation-embedded span {
  left: 2.9%;
}

.bar-set.occupation-2015 ul li.occupation-exec {
  width: 1.8%;
}

.bar-set.occupation-2015 ul li.occupation-exec span {
  left: 1.8%;
}

.bar-set.occupation-2015 ul li.occupation-sysadmin {
  width: 1.6%;
}

.bar-set.occupation-2015 ul li.occupation-sysadmin span {
  left: 1.6%;
}

.bar-set.occupation-2015 ul li.occupation-database {
  width: 0.6%;
}

.bar-set.occupation-2015 ul li.occupation-database span {
  left: 0.6%;
}

/* 2014 */

.bar-set.occupation-2014 ul li.occupation-fullstack {
  width: 26.8%;
}

.bar-set.occupation-2014 ul li.occupation-fullstack span {
  left: 26.8%;
}

.bar-set.occupation-2014 ul li.occupation-student {
  width: 13.9%;
}

.bar-set.occupation-2014 ul li.occupation-student span {
  left: 13.9%;
}

.bar-set.occupation-2014 ul li.occupation-backend {
  width: 9.7%;
}

.bar-set.occupation-2014 ul li.occupation-backend span {
  left: 9.7%;
}

.bar-set.occupation-2014 ul li.occupation-mobile {
  width: 7.9%;
}

.bar-set.occupation-2014 ul li.occupation-mobile span {
  left: 7.9%;
}

.bar-set.occupation-2014 ul li.occupation-desktop {
  width: 9.8%;
}

.bar-set.occupation-2014 ul li.occupation-desktop span {
  left: 9.8%;
}

.bar-set.occupation-2014 ul li.occupation-frontend {
  width: 5.2%;
}

.bar-set.occupation-2014 ul li.occupation-frontend span {
  left: 5.2%;
}

.bar-set.occupation-2014 ul li.occupation-enterprise {
  width: 3.6%;
}

.bar-set.occupation-2014 ul li.occupation-enterprise span {
  left: 3.6%;
}

.bar-set.occupation-2014 ul li.occupation-embedded {
  width: 2.5%;
}

.bar-set.occupation-2014 ul li.occupation-embedded span {
  left: 2.5%;
}

.bar-set.occupation-2014 ul li.occupation-exec {
  width: 1.4%;
}

.bar-set.occupation-2014 ul li.occupation-exec span {
  left: 1.4%;
}

.bar-set.occupation-2014 ul li.occupation-sysadmin {
  width: 2.1%;
}

.bar-set.occupation-2014 ul li.occupation-sysadmin span {
  left: 2.1%;
}

.bar-set.occupation-2014 ul li.occupation-database {
  width: 0.8%;
}

.bar-set.occupation-2014 ul li.occupation-database span {
  left: 0.8%;
}

/* 2013 */

.bar-set.occupation-2013 ul li.occupation-fullstack {
  width: 29.0%;
}

.bar-set.occupation-2013 ul li.occupation-fullstack span {
  left: 29.0%;
}

.bar-set.occupation-2013 ul li.occupation-student {
  width: 8.6%;
}

.bar-set.occupation-2013 ul li.occupation-student span {
  left: 8.6%;
}

.bar-set.occupation-2013 ul li.occupation-backend {
  width: 9.3%;
}

.bar-set.occupation-2013 ul li.occupation-backend span {
  left: 9.3%;
}

.bar-set.occupation-2013 ul li.occupation-mobile {
  width: 7.7%;
}

.bar-set.occupation-2013 ul li.occupation-mobile span {
  left: 7.7%;
}

.bar-set.occupation-2013 ul li.occupation-desktop {
  width: 11.3%;
}

.bar-set.occupation-2013 ul li.occupation-desktop span {
  left: 11.3%;
}

.bar-set.occupation-2013 ul li.occupation-frontend {
  width: 5.1%;
}

.bar-set.occupation-2013 ul li.occupation-frontend span {
  left: 5.1%;
}

.bar-set.occupation-2013 ul li.occupation-enterprise {
  width: 5.3%;
}

.bar-set.occupation-2013 ul li.occupation-enterprise span {
  left: 5.3%;
}

.bar-set.occupation-2013 ul li.occupation-embedded {
  width: 2.6%;
}

.bar-set.occupation-2013 ul li.occupation-embedded span {
  left: 2.6%;
}

.bar-set.occupation-2013 ul li.occupation-exec {
  width: 2.4%;
}

.bar-set.occupation-2013 ul li.occupation-exec span {
  left: 2.4%;
}

.bar-set.occupation-2013 ul li.occupation-sysadmin {
  width: 2.7%;
}

.bar-set.occupation-2013 ul li.occupation-sysadmin span {
  left: 2.7%;
}

.bar-set.occupation-2013 ul li.occupation-database {
  width: 0.8%;
}

.bar-set.occupation-2013 ul li.occupation-database span {
  left: 0.8%;
}


/* --- II. Mobile Devs --- */

.bar-set ul li.mobile-android {
  width: 44.6%;
}

.bar-set ul li.mobile-android span {
  left: 44.6%;
}

.bar-set ul li.mobile-ios {
  width: 33.4%;
}

.bar-set ul li.mobile-ios span {
  left: 33.4%;
}

.bar-set ul li.mobile-general {
  width: 19.8%;
}

.bar-set ul li.mobile-general span {
  left: 19.8%;
}

.bar-set ul li.mobile-windows {
  width: 2.3%;
}

.bar-set ul li.mobile-windows span {
  left: 2.3%;
}

/* --- III. Math Devs --- */

.bar-set ul li.math-statistics {
  width: 45.6%;
}

.bar-set ul li.math-statistics span {
  left: 45.6%;
}

.bar-set ul li.math-data {
  width: 40.2%;
}

.bar-set ul li.math-data span {
  left: 40.2%;
}

.bar-set ul li.math-machine {
  width: 14.2%;
}

.bar-set ul li.math-machine span {
  left: 14.2%;
}

/* --- IV. Other Dev Types --- */

/* Multiple Choice */

.bar-set.devtypes-mc ul li.devtypes-devops {
  width: 10.5%;
}

.bar-set.devtypes-mc ul li.devtypes-devops span {
  left: 10.5%;
}

.bar-set.devtypes-mc ul li.devtypes-biz {
  width: 8%;
}

.bar-set.devtypes-mc ul li.devtypes-biz span {
  left: 8%;
}

.bar-set.devtypes-mc ul li.devtypes-graphics {
  width: 7%;
}

.bar-set.devtypes-mc ul li.devtypes-graphics span {
  left: 7%;
}

.bar-set.devtypes-mc ul li.devtypes-qa {
  width: 7%;
}

.bar-set.devtypes-mc ul li.devtypes-qa span {
  left: 7%;
}

.bar-set.devtypes-mc ul li.devtypes-product {
  width: 7%;
}

.bar-set.devtypes-mc ul li.devtypes-product span {
  left: 7%;
}

.bar-set.devtypes-mc ul li.devtypes-designer {
  width: 7%;
}

.bar-set.devtypes-mc ul li.devtypes-designer span {
  left: 7%;
}

.bar-set.devtypes-mc ul li.devtypes-database {
  width: 5%;
}

.bar-set.devtypes-mc ul li.devtypes-database span {
  left: 5%;
}

.bar-set.devtypes-mc ul li.devtypes-growth {
  width: 3%;
}

.bar-set.devtypes-mc ul li.devtypes-growth span {
  left: 3%;
}

/* Write-in */

.bar-set.devtypes-wi ul li.devtypes-game {
  width: 3%;
}

.bar-set.devtypes-wi ul li.devtypes-game span {
  left: 3%;
}

.bar-set.devtypes-wi ul li.devtypes-fullstackplus {
  width: 2%;
}

.bar-set.devtypes-wi ul li.devtypes-fullstackplus span {
  left: 2%;
}

.bar-set.devtypes-wi ul li.devtypes-systemsplus {
  width: 2%;
}

.bar-set.devtypes-wi ul li.devtypes-systemsplus span {
  left: 2%;
}

.bar-set.devtypes-wi ul li.devtypes-scientist {
  width: 1%;
}

.bar-set.devtypes-wi ul li.devtypes-scientist span {
  left: 1%;
}

.bar-set.devtypes-wi ul li.devtypes-prof {
  width: 1%;
}

.bar-set.devtypes-wi ul li.devtypes-prof span {
  left: 1%;
}

.bar-set.devtypes-wi ul li.devtypes-analyst {
  width: 1%;
}

.bar-set.devtypes-wi ul li.devtypes-analyst span {
  left: 1%;
}

.bar-set.devtypes-wi ul li.devtypes-farmer {
  width: .3%;
}

.bar-set.devtypes-wi ul li.devtypes-farmer span {
  left: .3%;
}

.bar-set.devtypes-wi ul li.devtypes-lasers {
  width: .2%;
}

.bar-set.devtypes-wi ul li.devtypes-lasers span {
  left: .2%;
}


/* --- V. Industry --- */

/* Total */

.bar-set.industry-total ul li.industry-software {
  width: 25%;
}

.bar-set.industry-total ul li.industry-software span {
  left: 25%;
}

.bar-set.industry-total ul li.industry-internet {
  width: 17%;
}

.bar-set.industry-total ul li.industry-internet span {
  left: 17%;
}

.bar-set.industry-total ul li.industry-finance {
  width: 8%;
}

.bar-set.industry-total ul li.industry-finance span {
  left: 8%;
}

.bar-set.industry-total ul li.industry-consulting {
  width: 7%;
}

.bar-set.industry-total ul li.industry-consulting span {
  left: 7%;
}

.bar-set.industry-total ul li.industry-media {
  width: 7%;
}

.bar-set.industry-total ul li.industry-media span {
  left: 7%;
}

.bar-set.industry-total ul li.industry-health {
  width: 5%;
}

.bar-set.industry-total ul li.industry-health span {
  left: 5%;
}

.bar-set.industry-total ul li.industry-education {
  width: 5%;
}

.bar-set.industry-total ul li.industry-education span {
  left: 5%;
}

.bar-set.industry-total ul li.industry-telecom {
  width: 4%;
}

.bar-set.industry-total ul li.industry-telecom span {
  left: 4%;
}

.bar-set.industry-total ul li.industry-gov {
  width: 3%;
}

.bar-set.industry-total ul li.industry-gov span {
  left: 3%;
}
.bar-set.industry-total ul li.industry-other {
  width: 20%;
}

.bar-set.industry-total ul li.industry-other span {
  left: 20%;
}

/* Asia */

.bar-set.industry-asia ul li.industry-software {
  width: 45%;
}

.bar-set.industry-asia ul li.industry-software span {
  left: 45%;
}

.bar-set.industry-asia ul li.industry-internet {
  width: 19%;
}

.bar-set.industry-asia ul li.industry-internet span {
  left: 19%;
}

.bar-set.industry-asia ul li.industry-finance {
  width: 6%;
}

.bar-set.industry-asia ul li.industry-finance span {
  left: 6%;
}

.bar-set.industry-asia ul li.industry-consulting {
  width: 4%;
}

.bar-set.industry-asia ul li.industry-consulting span {
  left: 4%;
}

.bar-set.industry-asia ul li.industry-media {
  width: 4%;
}

.bar-set.industry-asia ul li.industry-media span {
  left: 4%;
}

.bar-set.industry-asia ul li.industry-health {
  width: 3%;
}

.bar-set.industry-asia ul li.industry-health span {
  left: 3%;
}

.bar-set.industry-asia ul li.industry-education {
  width: 3%;
}

.bar-set.industry-asia ul li.industry-education span {
  left: 3%;
}

.bar-set.industry-asia ul li.industry-telecom {
  width: 3%;
}

.bar-set.industry-asia ul li.industry-telecom span {
  left: 3%;
}

.bar-set.industry-asia ul li.industry-gov {
  width: 1%;
}

.bar-set.industry-asia ul li.industry-gov span {
  left: 1%;
}

.bar-set.industry-asia ul li.industry-other {
  width: 13%;
}

.bar-set.industry-asia ul li.industry-other span {
  left: 13%;
}

/* Eastern Europe */

.bar-set.industry-europe ul li.industry-software {
  width: 29%;
}

.bar-set.industry-europe ul li.industry-software span {
  left: 29%;
}

.bar-set.industry-europe ul li.industry-internet {
  width: 21%;
}

.bar-set.industry-europe ul li.industry-internet span {
  left: 21%;
}

.bar-set.industry-europe ul li.industry-finance {
  width: 9%;
}

.bar-set.industry-europe ul li.industry-finance span {
  left: 9%;
}

.bar-set.industry-europe ul li.industry-consulting {
  width: 3%;
}

.bar-set.industry-europe ul li.industry-consulting span {
  left: 3%;
}

.bar-set.industry-europe ul li.industry-media {
  width: 9%;
}

.bar-set.industry-europe ul li.industry-media span {
  left: 9%;
}

.bar-set.industry-europe ul li.industry-health {
  width: 3%;
}

.bar-set.industry-europe ul li.industry-health span {
  left: 3%;
}

.bar-set.industry-europe ul li.industry-education {
  width: 2%;
}

.bar-set.industry-europe ul li.industry-education span {
  left: 2%;
}

.bar-set.industry-europe ul li.industry-telecom {
  width: 5%;
}

.bar-set.industry-europe ul li.industry-telecom span {
  left: 5%;
}

.bar-set.industry-europe ul li.industry-gov {
  width: 2%;
}

.bar-set.industry-europe ul li.industry-gov span {
  left: 2%;
}

.bar-set.industry-europe ul li.industry-other {
  width: 16%;
}

.bar-set.industry-europe ul li.industry-other span {
  left: 16%;
}

/* US */

.bar-set.industry-us ul li.industry-software {
  width: 18%;
}

.bar-set.industry-us ul li.industry-software span {
  left: 18%;
}

.bar-set.industry-us ul li.industry-internet {
  width: 14%;
}

.bar-set.industry-us ul li.industry-internet span {
  left: 14%;
}

.bar-set.industry-us ul li.industry-finance {
  width: 8%;
}

.bar-set.industry-us ul li.industry-finance span {
  left: 8%;
}

.bar-set.industry-us ul li.industry-consulting {
  width: 7%;
}

.bar-set.industry-us ul li.industry-consulting span {
  left: 7%;
}

.bar-set.industry-us ul li.industry-media {
  width: 7%;
}

.bar-set.industry-us ul li.industry-media span {
  left: 7%;
}

.bar-set.industry-us ul li.industry-health {
  width: 7%;
}

.bar-set.industry-us ul li.industry-health span {
  left: 7%;
}

.bar-set.industry-us ul li.industry-education {
  width: 5%;
}

.bar-set.industry-us ul li.industry-education span {
  left: 5%;
}

.bar-set.industry-us ul li.industry-telecom {
  width: 2%;
}

.bar-set.industry-us ul li.industry-telecom span {
  left: 2%;
}

.bar-set.industry-us ul li.industry-gov {
  width: 4%;
}

.bar-set.industry-us ul li.industry-gov span {
  left: 4%;
}

.bar-set.industry-us ul li.industry-other {
  width: 27%;
}

.bar-set.industry-us ul li.industry-other span {
  left: 27%;
}

/* --- VIII. Compensation by Language --- */

/* US */

.bar-set.complang-us ul li.complang-objectivec {
  width: 98.828%;
}

.bar-set.complang-us ul li.complang-objectivec span {
  left: 98.828%;
}

.bar-set.complang-us ul li.complang-nodejs {
  width: 96.539%;
}

.bar-set.complang-us ul li.complang-nodejs span {
  left: 96.539%;
}

.bar-set.complang-us ul li.complang-csharp {
  width: 94.280%;
}

.bar-set.complang-us ul li.complang-csharp span {
  left: 94.280%;
}

.bar-set.complang-us ul li.complang-cplusplus {
  width: 91.739%;
}

.bar-set.complang-us ul li.complang-cplusplus span {
  left: 91.739%;
}

.bar-set.complang-us ul li.complang-sql {
  width: 91.431%;
}

.bar-set.complang-us ul li.complang-sql span {
  left: 91.431%;
}

.bar-set.complang-us ul li.complang-c {
  width: 91.264%;
}

.bar-set.complang-us ul li.complang-c span {
  left: 91.264%;
}

.bar-set.complang-us ul li.complang-ruby {
  width: 90.536%;
}

.bar-set.complang-us ul li.complang-ruby span {
  left: 90.536%;
}

.bar-set.complang-us ul li.complang-javascript {
  width: 90.259%;
}

.bar-set.complang-us ul li.complang-javascript span {
  left: 90.259%;
}

.bar-set.complang-us ul li.complang-java {
  width: 89.054%;
}

.bar-set.complang-us ul li.complang-java span {
  left: 89.054%;
}

.bar-set.complang-us ul li.complang-python {
  width: 88.966%;
}

.bar-set.complang-us ul li.complang-python span {
  left: 88.9664%;
}

.bar-set.complang-us ul li.complang-php {
  width: 77.322%;
}

.bar-set.complang-us ul li.complang-php span {
  left: 77.322%;
}

/* Western Europe */

.bar-set.complang-weurope ul li.complang-objectivec {
  width: 58.688%;
}

.bar-set.complang-weurope ul li.complang-objectivec span {
  left: 58.688%;
}

.bar-set.complang-weurope ul li.complang-nodejs {
  width: 59.227%;
}

.bar-set.complang-weurope ul li.complang-nodejs span {
  left: 59.227%;
}

.bar-set.complang-weurope ul li.complang-csharp {
  width: 59.978%;
}

.bar-set.complang-weurope ul li.complang-csharp span {
  left: 59.978%;
}

.bar-set.complang-weurope ul li.complang-cplusplus {
  width: 56.680%;
}

.bar-set.complang-weurope ul li.complang-cplusplus span {
  left: 56.680%;
}

.bar-set.complang-weurope ul li.complang-sql {
  width: 55.740%;
}

.bar-set.complang-weurope ul li.complang-sql span {
  left: 55.740%;
}

.bar-set.complang-weurope ul li.complang-c {
  width: 55.259%;
}

.bar-set.complang-weurope ul li.complang-c span {
  left: 55.259%;
}

.bar-set.complang-weurope ul li.complang-ruby {
  width: 60.000%;
}

.bar-set.complang-weurope ul li.complang-ruby span {
  left: 60.000%;
}

.bar-set.complang-weurope ul li.complang-javascript {
  width: 55.425%;
}

.bar-set.complang-weurope ul li.complang-javascript span {
  left: 55.425%;
}

.bar-set.complang-weurope ul li.complang-java {
  width: 53.404%;
}

.bar-set.complang-weurope ul li.complang-java span {
  left: 53.404%;
}

.bar-set.complang-weurope ul li.complang-python {
  width: 56.192%;
}

.bar-set.complang-weurope ul li.complang-python span {
  left: 56.192%;
}

.bar-set.complang-weurope ul li.complang-php {
  width: 46.060%;
}

.bar-set.complang-weurope ul li.complang-php span {
  left: 46.060%;
}

/* Eastern Europe */

.bar-set.complang-eeurope ul li.complang-objectivec {
  width: 24.844%;
}

.bar-set.complang-eeurope ul li.complang-objectivec span {
  left: 24.844%;
}

.bar-set.complang-eeurope ul li.complang-nodejs {
  width: 28.543%;
}

.bar-set.complang-eeurope ul li.complang-nodejs span {
  left: 28.543%;
}

.bar-set.complang-eeurope ul li.complang-csharp {
  width: 26.025%;
}

.bar-set.complang-eeurope ul li.complang-csharp span {
  left: 26.025%;
}

.bar-set.complang-eeurope ul li.complang-cplusplus {
  width: 22.905%;
}

.bar-set.complang-eeurope ul li.complang-cplusplus span {
  left: 22.905%;
}

.bar-set.complang-eeurope ul li.complang-sql {
  width: 24.940%;
}

.bar-set.complang-eeurope ul li.complang-sql span {
  left: 24.940%;
}

.bar-set.complang-eeurope ul li.complang-c {
  width: 24.423%;
}

.bar-set.complang-eeurope ul li.complang-c span {
  left: 24.423%;
}

.bar-set.complang-eeurope ul li.complang-ruby {
  width: 24.714%;
}

.bar-set.complang-eeurope ul li.complang-ruby span {
  left: 24.714%;
}

.bar-set.complang-eeurope ul li.complang-javascript {
  width: 24.968%;
}

.bar-set.complang-eeurope ul li.complang-javascript span {
  left: 24.968%;
}

.bar-set.complang-eeurope ul li.complang-java {
  width: 25.559%;
}

.bar-set.complang-eeurope ul li.complang-java span {
  left: 25.559%;
}

.bar-set.complang-eeurope ul li.complang-python {
  width: 25.640%;
}

.bar-set.complang-eeurope ul li.complang-python span {
  left: 25.640%;
}

.bar-set.complang-eeurope ul li.complang-php {
  width: 22.563%;
}

.bar-set.complang-eeurope ul li.complang-php span {
  left: 22.563%;
}

/* Infobox: Top-Paying Tech */

.bar-set ul li.info-complang-cass {
  width: 64.111%;
}

.bar-set ul li.info-complang-cass span {
  left: 64.111%;
}

.bar-set ul li.info-complang-spark {
  width: 61%;
}

.bar-set ul li.info-complang-spark span {
  left: 61%;
}

.bar-set ul li.info-complang-fsharp {
  width: 60.834%;
}

.bar-set ul li.info-complang-fsharp span {
  left: 60.834%;
}

.bar-set ul li.info-complang-hadoop {
  width: 58.379%;
}

.bar-set ul li.info-complang-hadoop span {
  left: 58.379%;
}

.bar-set ul li.info-complang-scala {
  width: 56.697%;
}

.bar-set ul li.info-complang-scala span {
  left: 56.697%;
}

.bar-set ul li.info-complang-redis {
  width: 55.058%;
}

.bar-set ul li.info-complang-redis span {
  left: 55.058%;
}

.bar-set ul li.info-complang-cloud {
  width: 54.969%;
}

.bar-set ul li.info-complang-cloud span {
  left: 54.969%;
}

/* --- VII. Compensation - Remote --- */

/* Total */

.bar-set.compremote-total ul li.compremote-ft {
  width: 114.1%;
}

.bar-set.compremote-total ul li.compremote-ft span {
  left: 114.1%;
}

.bar-set.compremote-total ul li.compremote-pt {
  width: 108.0%;
}

.bar-set.compremote-total ul li.compremote-pt span {
  left: 108.0%;
}

.bar-set.compremote-total ul li.compremote-rarely {
  width: 97.4%;
}

.bar-set.compremote-total ul li.compremote-rarely span {
  left: 97.4%;
}

.bar-set.compremote-total ul li.compremote-never {
  width: 79.7%;
}

.bar-set.compremote-total ul li.compremote-never span {
  left: 79.7%;
}

/* US */

.bar-set.compremote-us ul li.compremote-ft {
  width: 113.0%;
}

.bar-set.compremote-us ul li.compremote-ft span {
  left: 113.0%;
}

.bar-set.compremote-us ul li.compremote-pt {
  width: 110.4%;
}

.bar-set.compremote-us ul li.compremote-pt span {
  left: 110.4%;
}

.bar-set.compremote-us ul li.compremote-rarely {
  width: 105.8%;
}

.bar-set.compremote-us ul li.compremote-rarely span {
  left: 105.8%;
}

.bar-set.compremote-us ul li.compremote-never {
  width: 90.5%;
}

.bar-set.compremote-us ul li.compremote-never span {
  left: 90.5%;
}

/* India */

.bar-set.compremote-india ul li.compremote-ft {
  width: 140.8%;
}

.bar-set.compremote-india ul li.compremote-ft span {
  left: 140.8%;
}

.bar-set.compremote-india ul li.compremote-pt {
  width: 112.2%;
}

.bar-set.compremote-india ul li.compremote-pt span {
  left: 112.2%;
}

.bar-set.compremote-india ul li.compremote-rarely {
  width: 94.9%;
}

.bar-set.compremote-india ul li.compremote-rarely span {
  left: 94.9%;
}

.bar-set.compremote-india ul li.compremote-never {
  width: 72.5%;
}

.bar-set.compremote-india ul li.compremote-never span {
  left: 72.5%;
}

/* Russia */

.bar-set.compremote-russia ul li.compremote-ft {
  width: 150.0%;
}

.bar-set.compremote-russia ul li.compremote-ft span {
  left: 150.0%;
}

.bar-set.compremote-russia ul li.compremote-pt {
  width: 100.1%;
}

.bar-set.compremote-russia ul li.compremote-pt span {
  left: 100.1%;
}

.bar-set.compremote-russia ul li.compremote-rarely {
  width: 96.4%;
}

.bar-set.compremote-russia ul li.compremote-rarely span {
  left: 96.4%;
}

.bar-set.compremote-russia ul li.compremote-never {
  width: 76.3%;
}

.bar-set.compremote-russia ul li.compremote-never span {
  left: 76.3%;
}

/* Brazil */

.bar-set.compremote-brazil ul li.compremote-ft {
  width: 123.4%;
}

.bar-set.compremote-brazil ul li.compremote-ft span {
  left: 123.4%;
}

.bar-set.compremote-brazil ul li.compremote-pt {
  width: 113.1%;
}

.bar-set.compremote-brazil ul li.compremote-pt span {
  left: 113.1%;
}

.bar-set.compremote-brazil ul li.compremote-rarely {
  width: 102.2%;
}

.bar-set.compremote-brazil ul li.compremote-rarely span {
  left: 102.2%;
}

.bar-set.compremote-brazil ul li.compremote-never {
  width: 99.9%;
}

.bar-set.compremote-brazil ul li.compremote-never span {
  left: 99.9%;
}

/* --- IX. Compensation by Stack Overflow Rep --- */

.bar-set ul li.compso-10000 {
  width: 83%;
}

.bar-set ul li.compso-10000 span {
  left: 83%;
}

.bar-set ul li.compso-5000 {
  width: 121%;
}

.bar-set ul li.compso-5000 span {
  left: 121%;
}

.bar-set ul li.compso-3000 {
  width: 117%;
}

.bar-set ul li.compso-3000 span {
  left: 117%;
}

.bar-set ul li.compso-2000 {
  width: 108%;
}

.bar-set ul li.compso-2000 span {
  left: 108%;
}

.bar-set ul li.compso-1000 {
  width: 109%;
}

.bar-set ul li.compso-1000 span {
  left: 109%;
}

.bar-set ul li.compso-500 {
  width: 103%;
}

.bar-set ul li.compso-500 span {
  left: 103%;
}

.bar-set ul li.compso-200 {
  width: 99%;
}

.bar-set ul li.compso-200 span {
  left: 99%;
}

.bar-set ul li.compso-100 {
  width: 92%;
}

.bar-set ul li.compso-100 span {
  left: 92%;
}

.bar-set ul li.compso-50 {
  width: 90%;
}

.bar-set ul li.compso-50 span {
  left: 90%;
}

.bar-set ul li.compso-2 {
  width: 86%;
}

.bar-set ul li.compso-2 span {
  left: 86%;
}

.bar-set ul li.compso-1 {
  width: 83%;
}

.bar-set ul li.compso-1 span {
  left: 83%;
}

/* --- X. Employment Status --- */

.bar-set ul li.status-ft {
  width: 66.3%;
}

.bar-set ul li.status-ft span {
  left: 66.3%;
}

.bar-set ul li.status-student {
  width: 15.9%;
}

.bar-set ul li.status-student span {
  left: 15.9%;
}

.bar-set ul li.status-freelance {
  width: 9.0%;
}

.bar-set ul li.status-freelance span {
  left: 9.0%;
}

.bar-set ul li.status-pt {
  width: 4.2%;
}

.bar-set ul li.status-pt span {
  left: 4.2%;
}

.bar-set ul li.status-unemployed {
  width: 2.0%;
}

.bar-set ul li.status-unemployed span {
  left: 2.0%;
}

.bar-set ul li.status-retired {
  width: 0.3%;
}

.bar-set ul li.status-retired span {
  left: 0.3%;
}

.bar-set ul li.status-nodisclose {
  width: 1.2%;
}

.bar-set ul li.status-nodisclose span {
  left: 1.2%;
}

.bar-set ul li.status-other {
  width: 1.1%;
}

.bar-set ul li.status-other span {
  left: 1.1%;
}

/* Infobox - Side Projects by Employment Status */

.bar-set ul li.info-status-ft {
  width: 24.868%;
}

.bar-set ul li.info-status-ft span {
  left: 24.868%;
}

.bar-set ul li.info-status-student {
  width: 36.732%;
}

.bar-set ul li.info-status-student span {
  left: 36.732%;
}

.bar-set ul li.info-status-freelance {
  width: 36%;
}

.bar-set ul li.info-status-freelance span {
  left: 36%;
}

.bar-set ul li.info-status-pt {
  width: 30.732%;
}

.bar-set ul li.info-status-pt span {
  left: 30.732%;
}

.bar-set ul li.info-status-unemployed {
  width: 53.868%;
}

.bar-set ul li.info-status-unemployed span {
  left: 53.868%;
}




.bar-set ul li.info-status-retired {
  width: 65.468%;
}

.bar-set ul li.info-status-retired span {
  left: 65.468%;
}

/* --- X. Job Satisfaction --- */

.bar-set ul li.satisfaction-love {
  width: 36.0%;
}

.bar-set ul li.satisfaction-love span {
  left: 36.0%;
}

.bar-set ul li.satisfaction-satisfied {
  width: 40.4%;
}

.bar-set ul li.satisfaction-satisfied span {
  left: 40.4%;
}

.bar-set ul li.satisfaction-neutral {
  width: 11.0%;
}

.bar-set ul li.satisfaction-neutral span {
  left: 11.0%;
}

.bar-set ul li.satisfaction-dissatisfied {
  width: 9.7%;
}

.bar-set ul li.satisfaction-dissatisfied span {
  left: 9.7%;
}

.bar-set ul li.satisfaction-hate {
  width: 1.9%;
}

.bar-set ul li.satisfaction-hate span {
  left: 1.9%;
}

/* --- XI. Job Satisfaction by Dev Type --- */

/* Most */

.bar-set.happydev-most ul li.happydev-exec {
  width: 78%;
}

.bar-set.happydev-most ul li.happydev-exec span {
  left: 78%;
}

.bar-set.happydev-most ul li.happydev-machine {
  width: 72.6%;
}

.bar-set.happydev-most ul li.happydev-machine span {
  left: 72.6%;
}

.bar-set.happydev-most ul li.happydev-mobileios {
  width: 71.6%;
}

.bar-set.happydev-most ul li.happydev-mobileios span {
  left: 71.6%;
}

.bar-set.happydev-most ul li.happydev-mobile {
  width: 71.4%;
}

.bar-set.happydev-most ul li.happydev-mobile span {
  left: 71.4%;
}

.bar-set.happydev-most ul li.happydev-stat {
  width: 68.6%;
}

.bar-set.happydev-most ul li.happydev-stat span {
  left: 68.6%;
}

/* Least */

.bar-set.happydev-least ul li.happydev-product {
  width: 59.4%;
}

.bar-set.happydev-least ul li.happydev-product span {
  left: 59.4%;
}

.bar-set.happydev-least ul li.happydev-biz {
  width: 61%;
}

.bar-set.happydev-least ul li.happydev-biz span {
  left: 61%;
}

.bar-set.happydev-least ul li.happydev-graphics {
  width: 63%;
}

.bar-set.happydev-least ul li.happydev-graphics span {
  left: 63%;
}

.bar-set.happydev-least ul li.happydev-backend {
  width: 64.2%;
}

.bar-set.happydev-least ul li.happydev-backend span {
  left: 64.2%;
}

.bar-set.happydev-least ul li.happydev-qa {
  width: 64.2%;
}

.bar-set.happydev-least ul li.happydev-qa span {
  left: 64.2%;
}

/* --- XIII. Remote Work --- */

.bar-set ul li.remote-ft {
  width: 10.4%;
}

.bar-set ul li.remote-ft span {
  left: 10.4%;
}

.bar-set ul li.remote-pt {
  width: 18.6%;
}

.bar-set ul li.remote-pt span {
  left: 18.6%;
}

.bar-set ul li.remote-rare {
  width: 48.1%;
}

.bar-set ul li.remote-rare span {
  left: 48.1%;
}

.bar-set ul li.remote-never {
  width: 22.8%;
}

.bar-set ul li.remote-never span {
  left: 22.8%;
}

/* ---XIV. Remote Work in Job Opportunities --- */

.bar-set ul li.remotejob-always {
  width: 4.1%;
}

.bar-set ul li.remotejob-always span {
  left: 4.1%;
}

.bar-set ul li.remotejob-veryimpt {
  width: 16.7%;
}

.bar-set ul li.remotejob-veryimpt span {
  left: 16.7%;
}

.bar-set ul li.remotejob-somewhatimpt {
  width: 29.1%;
}

.bar-set ul li.remotejob-somewhatimpt span {
  left: 29.1%;
}

.bar-set ul li.remotejob-neutral {
  width: 39.3%;
}

.bar-set ul li.remotejob-neutral span {
  left: 39.3%;
}

.bar-set ul li.remotejob-notimpt {
  width: 10.8%;
}

.bar-set ul li.remotejob-notimpt span {
  left: 10.8%;
}

/* ------- COMMUNITY ------- */

/* --- I. Reputation --- */

/* Active */

.bar-set.rep-active ul li.rep-10k {
  width: 0.6%;
}

.bar-set.rep-active ul li.rep-10k span {
  left: 0.6%;
}

.bar-set.rep-active ul li.rep-5k {
  width: 0.7%;
}

.bar-set.rep-active ul li.rep-5k span {
  left: 0.7%;
}

.bar-set.rep-active ul li.rep-3k {
  width: 0.9%;
}

.bar-set.rep-active ul li.rep-3k span {
  left: 0.9%;
}

.bar-set.rep-active ul li.rep-2k {
  width: 0.9%;
}

.bar-set.rep-active ul li.rep-2k span {
  left: 0.9%;
}

.bar-set.rep-active ul li.rep-1k {
  width: 2.7%;
}

.bar-set.rep-active ul li.rep-1k span {
  left: 2.7%;
}

.bar-set.rep-active ul li.rep-500 {
  width: 4.0%;
}

.bar-set.rep-active ul li.rep-500 span {
  left: 4.0%;
}

.bar-set.rep-active ul li.rep-200 {
  width: 5.5%;
}

.bar-set.rep-active ul li.rep-200 span {
  left: 5.5%;
}

.bar-set.rep-active ul li.rep-100 {
  width: 6.7%;
}

.bar-set.rep-active ul li.rep-100 span {
  left: 6.7%;
}

.bar-set.rep-active ul li.rep-50 {
  width: 6.8%;
}

.bar-set.rep-active ul li.rep-50 span {
  left: 6.8%;
}

.bar-set.rep-active ul li.rep-2 {
  width: 27.0%;
}

.bar-set.rep-active ul li.rep-2 span {
  left: 27.0%;
}

.bar-set.rep-active ul li.rep-1 {
  width: 44.0%;
}

.bar-set.rep-active ul li.rep-1 span {
  left: 44.0%;
}

.bar-set.rep-active ul li.rep-none {
  width: 0%;
}

.bar-set.rep-active ul li.rep-none span {
  left: 0%;
}

.bar-set.rep-active ul li.rep-notsure {
  width: 0%;
}

.bar-set.rep-active ul li.rep-notsure span {
  left: 0%;
}

/* Respondents */

.bar-set.rep-respondents ul li.rep-10k {
  width: 5.1%;
}

.bar-set.rep-respondents ul li.rep-10k span {
  left: 5.1%;
}

.bar-set.rep-respondents ul li.rep-5k {
  width: 3.4%;
}

.bar-set.rep-respondents ul li.rep-5k span {
  left: 3.4%;
}

.bar-set.rep-respondents ul li.rep-3k {
  width: 3.6%;
}

.bar-set.rep-respondents ul li.rep-3k span {
  left: 3.6%;
}

.bar-set.rep-respondents ul li.rep-2k {
  width: 3.3%;
}

.bar-set.rep-respondents ul li.rep-2k span {
  left: 3.3%;
}

.bar-set.rep-respondents ul li.rep-1k {
  width: 6.3%;
}

.bar-set.rep-respondents ul li.rep-1k span {
  left: 6.3%;
}

.bar-set.rep-respondents ul li.rep-500 {
  width: 7.1%;
}

.bar-set.rep-respondents ul li.rep-500 span {
  left: 7.1%;
}

.bar-set.rep-respondents ul li.rep-200 {
  width: 6.9%;
}

.bar-set.rep-respondents ul li.rep-200 span {
  left: 6.9%;
}

.bar-set.rep-respondents ul li.rep-100 {
  width: 7.2%;
}

.bar-set.rep-respondents ul li.rep-100 span {
  left: 7.2%;
}

.bar-set.rep-respondents ul li.rep-50 {
  width: 5.7%;
}

.bar-set.rep-respondents ul li.rep-50 span {
  left: 5.7%;
}

.bar-set.rep-respondents ul li.rep-2 {
  width: 13.8%;
}

.bar-set.rep-respondents ul li.rep-2 span {
  left: 13.8%;
}

.bar-set.rep-respondents ul li.rep-1 {
  width: 8.9%;
}

.bar-set.rep-respondents ul li.rep-1 span {
  left: 8.9%;
}

.bar-set.rep-respondents ul li.rep-none {
  width: 21.2%;
}

.bar-set.rep-respondents ul li.rep-none span {
  left: 21.2%;
}

.bar-set.rep-respondents ul li.rep-notsure {
  width: 7.5%;
}

.bar-set.rep-respondents ul li.rep-notsure span {
  left: 7.5%;
}

/* --- II. Visit Frequency --- */

.bar-set ul li.freq-multiple {
  width: 65.4%;
}

.bar-set ul li.freq-multiple span {
  left: 65.4%;
}

.bar-set ul li.freq-daily {
  width: 20.4%;
}

.bar-set ul li.freq-daily span {
  left: 20.4%;
}

.bar-set ul li.freq-weekly {
  width: 9.9%;
}

.bar-set ul li.freq-weekly span {
  left: 9.9%;
}

.bar-set ul li.freq-monthly {
  width: 1.9%;
}

.bar-set ul li.freq-monthly span {
  left: 1.9%;
}

.bar-set ul li.freq-rarely {
  width: 1.9%;
}

.bar-set ul li.freq-rarely span {
  left: 1.9%;
}

.bar-set ul li.freq-never {
  width: 0.5%;
}

.bar-set ul li.freq-never span {
  left: 0.5%;
}

/* --- III. Visit Satisfaction --- */

.bar-set ul li.satis-always {
  width: 10.2%;
}

.bar-set ul li.satis-always span {
  left: 10.2%;
}

.bar-set ul li.satis-usually {
  width: 76%;
}

.bar-set ul li.satis-usually span {
  left: 76%;
}

.bar-set ul li.satis-sometimes {
  width: 13.1%;
}

.bar-set ul li.satis-sometimes span {
  left: 13.1%;
}

.bar-set ul li.satis-rarely {
  width: 0.6%;
}

.bar-set ul li.satis-rarely span {
  left: 0.6%;
}

.bar-set ul li.satis-never {
  width: 0.3%;
}

.bar-set ul li.satis-never span {
  left: 0.3%;
}

/* --- IV. Motivation for Using SO --- */

.bar-set ul li.motive-gethelp {
  width: 72.1%;
}

.bar-set ul li.motive-gethelp span {
  left: 72.1%;
}

.bar-set ul li.motive-learn {
  width: 65.6%;
}

.bar-set ul li.motive-learn span {
  left: 65.6%;
}

.bar-set ul li.motive-givehelp {
  width: 55.5%;
}

.bar-set ul li.motive-givehelp span {
  left: 55.5%;
}

.bar-set ul li.motive-personal {
  width: 40.5%;
}

.bar-set ul li.motive-personal span {
  left: 40.5%;
}

.bar-set ul li.motive-forjob {
  width: 20.5%;
}

.bar-set ul li.motive-forjob span {
  left: 20.5%;
}

.bar-set ul li.motive-communicate {
  width: 17.1%;
}

.bar-set ul li.motive-communicate span {
  left: 17.1%;
}

.bar-set ul li.motive-show {
  width: 16.4%;
}

.bar-set ul li.motive-show span {
  left: 16.4%;
}

.bar-set ul li.motive-presence {
  width: 14.3%;
}

.bar-set ul li.motive-presence span {
  left: 14.3%;
}

.bar-set ul li.motive-other {
  width: 2.8%;
}

.bar-set ul li.motive-other span {
  left: 2.8%;
}

.bar-set ul li.motive-none {
  width: 1.3%;
}

.bar-set ul li.motive-none span {
  left: 1.3%;
}

/* --- V. Motivation for Answering Questions --- */

.bar-set ul li.answer-help {
  width: 64.0%;
}

.bar-set ul li.answer-help span {
  left: 64.0%;
}

.bar-set ul li.answer-future {
  width: 54.2%;
}

.bar-set ul li.answer-future span {
  left: 54.2%;
}

.bar-set ul li.answer-answermore {
  width: 35.7%;
}

.bar-set ul li.answer-answermore span {
  left: 35.7%;
}

.bar-set ul li.answer-responsibility {
  width: 32.4%;
}

.bar-set ul li.answer-responsibility span {
  left: 32.4%;
}

.bar-set ul li.answer-feelsgood {
  width: 30.2%;
}

.bar-set ul li.answer-feelsgood span {
  left: 30.2%;
}

.bar-set ul li.answer-expertise {
  width: 20.8%;
}

.bar-set ul li.answer-expertise span {
  left: 20.8%;
}

.bar-set ul li.answer-noidea {
  width: 6.4%;
}

.bar-set ul li.answer-noidea span {
  left: 6.4%;
}

.bar-set ul li.answer-nodesire {
  width: 4.4%;
}

.bar-set ul li.answer-nodesire span {
  left: 4.4%;
}



