/* ----- Globals ------ */

body {
  font-family: 'HelveticaNeue-Roman', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #404041;
}

@media (min-width: 1200px) {
  .container {
    width: 1030px;
  }
}

a, a:hover {
  text-decoration: none;
}

/* ----- Type ------ */

/* Type */

h1, .h1, h2, .h2, h4, .h4 {
  font-family: 'HelveticaNeue-Th', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1, .h1 {
  font-size: 45px;
  letter-spacing:;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-family: 'HelveticaNeue-BdCn', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p, .p {
  font-size: 14px;
  line-height: 1.8;
}

sub {
  font-family: 'HelveticaNeue-It', Helvetica, Arial, sans-serif;
  font-size: 12px;
  bottom: 0;
  font-weight: normal;
  font-style: italic;
}

/* Type Modifiers */

._lead {
  font-size: 16px;
  line-height: 1.8;
}

._small {
  font-size: 12px;
}

._bold {
  font-family: 'HelveticaNeue-Bd', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;  
}

._amber {
  color: #ffaa22;
}

._orange {
  color: #ff6d1f;
}

._muted {
  color: #a6a8ab;
}

._white {
  color: #fff;
}

._fb-blue {
  color: #3b5998;
}

._twitter-blue {
  color: #55acee;
}

._google-plus-red {
  color: #d73d32;
}

._line-top:before {
  display: block;
  width: 25%;
  border-top: 1px solid #d2d3d4;
  content: '';
  margin: 5px 0 5px;
}

._tag {
  background-color: #e4edf4;
  color: #3e6d8e;
  padding: 8px;
  margin: 10px 7px 10px 0;
}

._tag:hover {
  background-color: #dae6ef;
  text-decoration: none;
}

._chevron:before {
  content: url(../../img/chevron-left.svg);
  width: 17px;
  position: absolute;
  top: 20%;
  left: 30%;
}

._chevron:after {
  content: url(../../img/chevron-right.svg);
  width: 17px;
  position: absolute;
  top: 20%;
  right: 30%;
}

@media (max-width: 767px) {
  ._chevron:before, ._chevron:after {
 display: none;
  }
}

/* ----- Section Blocks ------ */

/* Section Blocks */

.block-splash{
  height: 300px;
  background-image: url(../../img/splash-03.svg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  overflow-x: hidden;
}

.block-wrapper {
  margin: 5% -15px;
}

.section-intro {
  position: relative;
}

.section-intro-content {
  padding: 3% 5%;
}

.section-content {
  padding: 5% 5%;
}

/* Section Block Modifiers */

._background-dark {
   background-color: #333e48;
 }

._background-light {
   background-color: #f1f1f2;
 }

 ._background-white {
   background-color: #fff;
 }

._inline-block {
  display: inline-block;
}

._border-full {
  border: 1px solid #d2d3d4;
}

._col-centered {
  margin: 0 auto;
  float: none;
}

._pad-left-xs {
  padding-left: 5px;
}

._pad-top-md {
  padding-top: 15px;
}

._pad-bottom-md {
  padding-bottom: 15px;
}

._pad-bottom-lg {
  padding-bottom: 25px;
}

._pad-vertical-lg {
  padding-bottom: 25px;
  padding-top: 25px;
}

/* ----- Elements ------ */

/* Splash */

.splash-content {
  padding: 20px;
  margin-top: 12%;
  position: relative;
}

.cta-content {
  padding: 2% 0;
}

.cta-content:before {
  display: block;
  width: 100%;
  border-top: 1px solid #d2d3d4;
  content: '';
  margin: 5px 0 5px;
  padding-top: 25px;
}

.cta-share span, .cta-share i {
  padding-right: 8px;
}

/* Subsection - Head */

.subsection-head {
  padding-top:5%;
}

.subsection-head:after {
  display: block;
  width: 100%;
  border-bottom: 1px solid #d2d3d4;
  content: '';
  margin: 5px 0 25px;
}

/* Subsection - Q&A */

.subsection-qa {
  padding: 2% 5%;
  margin: 2% 0;
}

.subsection-qa p {
  padding-top: 8px;
}

.subsection-question, .subsection-answer {
  padding: 5px 0;
}

.ico-question:after, .ico-answer:after {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
}

.ico-question:after {
  font-family: 'HelveticaNeue-Bd', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  border: 1px solid #404041;
  padding: 10px 11px;
  background: transparent;
  color: #404041;
  content: "Q";
}

.ico-answer:after {
  border: 1px solid transparent;
  font-family: 'FontAwesome';
  background: #75845c;
  color: #fff;
  padding: 10px;
  content: "\f00c";
  font-size: 12px;
}

/* Subsection - Intro Decoration */

.color-bar {
  position: relative;
  top: 0;
  height: 3px;
  width: 100%;
  background-color: transparent;
  display: block;
}

._color-bar-orange, ._color-bar-amber, ._color-bar-yellow {
  height: 3px;
  width: 33.333333333%;
  float: left;
}

._color-bar-orange {
  background-color: #ff6d1f;
}

._color-bar-amber {
  background-color: #ffaa22;
}

._color-bar-yellow {
  background-color: #ffca22;
}